.custom-date.ant-picker-disabled {
    background-color: #eceff1 !important;
    border-radius: 0px !important;
}

.custom-date.ant-picker-disabled .ant-picker-input input {
    color: #000000 !important;
}

.custom-date .ant-picker-input input::placeholder {
    color: #6E6E6E;
}

.custom-date .ant-picker-input .ant-picker-suffix .anticon.anticon-calendar {
    color: #6E6E6E;
}

.ant-picker-dropdown {
    z-index: 10000 !important;
}